node_modules
.turbo
**/.next
**/.vercel
**/.expo
**/.expo-shared
**/dist
**/build
**/coverage
**/.convex
**/*.tsbuildinfo
apps/mobile/android
apps/mobile/ios
apps/mobile/src/uniwind-types.d.ts
packages/backend/convex/_generated
